.reservation {
  background-color: white;
  padding: 100px 0 120px; /*0 on left and rigth 120 on bottom*/
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reservation__form {
  margin: 0 auto; /*the reservation form need to be centered*/
}

.reservation__title {
  margin: 0 0 80px; /*0 top and right and 80px bottom*/
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
