@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);

.menu {
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 0 24px;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 100px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  display: flex;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.about {
  position: relative;
  color: #fff;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.about__title {
  z-index: 1;
  margin: 0;
  max-width: 251px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  margin-top: 100px;
  margin-left: 80px;
}

.about__content {
  z-index: 1;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  position: relative;
  margin-top: 119px;
  margin-bottom: 173px;
  margin-right: 80px;
}
.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: 0;
}

.about__paragraph {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 0;
}
.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    scale: 1.4;
    opacity: 0;
  }
}
.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 60px 100px 60px 80px;
}
.footer__columns {
  display: flex;
}
.footer__column {
}
.footer__column_social-heading {
  margin-left: auto;
}

footer__logo {
  width: 105px;
  height: 39px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  margin: 0 0 16px;
}
.footer__list-item:last-child {
  margin-bottom: 0;
}
.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}
.footer__social-link {
  font-weight: normal;
  color: white;
  text-decoration: none;
}
.footer__social-icon {
}
.footer__copyright {
  font-weight: normal;
  margin-top: 108px;
  margin-bottom: 60px;
}
